<%# Javascript templates for backbone.js views %>

<script type="text/template" id="new-project-dialog-template">
  <div id="new-project-dialog">
    <a href="#" class="close">'</a>
    <form id="new-tm-project-form" action="/" method="post">
      <input type="hidden" name="date" value=""/>
      <input type="hidden" name="team_member_id" value=""/>
      
      <%# Dummy div to be replaced by js %>
      <div id="existing-projects-listing"></div>

      <fieldset>
        <legend>Add new project</legend>
        <fieldset class="new-object-fieldset" title="New project">
          <label for="project_name">Add new project</label>
          <input type="text" name="project_name" title="Project name" class="new-object-text-box" /> <button type="submit" name="new_project" value="true" class="submit-button">+</button>
        </fieldset> <!-- New project -->
      </fieldset>
    </form>
    
    <div id="dialog-arrow"></div>
  </div>
</script>

<script type="text/template" id="existing-projects-listing-template">
  {% if (projects.length <= 0) { %}
    <div id="existing-projects-listing"></div>
  {% } else { %}
    <fieldset id="existing-projects-listing" title="Existing projects">
      <legend>Add a project</legend>
      <ul class="listing">
        {% _.each(projects, function(project) { %}
          <li>
            <div class="handle {{ project.css_class() }}"></div>
            <button name="project_id" type="submit" value="{{ project.get("id") }}" title="{{ project.get("name") }}">{{ project.get("name").substring(0, 40) }}</button>
            <a class="delete" title="Delete project" href="#">×</a>
          </li>
        {% }); %}
      </ul>
    </fieldset> <!-- Existing projects -->
  {% } %}
</script>

<script type="text/template" id="existing-project-template">
  <div class='project' data-team-member-id='{{ tmId }}' data-team-member-project-id='{{ tmProjId }}' data-date='{{ projDate }}'>
    <div class='handle-container'>
      <div class='{{ projHandleCssClass }}'></div>
    </div>
    <p class='project-title' title='{{ projName }}'>{{ projName.substring(0, 40) }}</p>
    <form class='delete-tm-project-form' action='#' method='post'>
      <button name='delete_project' type='submit' value='true'>×</button>
    </form>
  </div>
</script>


<script type="text/template" id="delete-project-dialog-template">
  <div id='delete-project-dialog' title='Delete &ldquo;{{ projectName }}&rdquo; project'>
    <p class='warning-icon'>W</p><p class='warning-msg'>All items added to the weekly timetable will also be deleted.</p>
    <form method='post' action='/{{ teamId }}/project/{{ projectId }}/delete'>
      <fieldset class='delete-object-fieldset' title='Delete project'>
      <button class='delete' value='delete' name='delete' type='submit'>delete</button>
      </fieldset>
    </form>
  </div>
</script>

<script type="text/template" id="week-template">
  <table id="timetable">
    <thead>
      <tr>
        <th class="first-row col1"> 
          <% if @prev_week_url.present? %>
            <div id="help-week"></div><a href="<%= @prev_week_url %>" class="arrows" title="Previous week">(</a>
          <% end %>
        </th>
      
        <th class="first-row col2">
          <p class="day"><%= @monday_date.strftime("%a") %></p> <p class="date"><%= @monday_date.day.ordinalize %></p><p class="month"><%= @monday_date.strftime("%b") %></p>
          
          <% if is_today?(@monday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        <th class="first-row col3">
          <p class="day"><%= @tuesday_date.strftime("%a") %></p> <p class="date"><%= @tuesday_date.day.ordinalize %></p><p class="month"><%= @tuesday_date.strftime("%b") %></p>
          
          <% if is_today?(@tuesday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        <th class="first-row col4">
          <p class="day"><%= @wednesday_date.strftime("%a") %></p> <p class="date"><%= @wednesday_date.day.ordinalize %></p><p class="month"><%= @wednesday_date.strftime("%b") %></p>
          
          <% if is_today?(@wednesday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        <th class="first-row col5">
          <p class="day"><%= @thursday_date.strftime("%a") %></p> <p class="date"><%= @thursday_date.day.ordinalize %></p><p class="month"><%= @thursday_date.strftime("%b") %></p>
          
          <% if is_today?(@thursday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        <th class="first-row col6">
          <p class="day"><%= @friday_date.strftime("%a") %></p> <p class="date"><%= @friday_date.day.ordinalize %></p><p class="month"><%= @friday_date.strftime("%b") %></p>
          
          <% if is_today?(@friday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        
        <th class="first-row col7">
          <p class="day"><%= @saturday_date.strftime("%a") %></p> <p class="date"><%= @saturday_date.day.ordinalize %></p><p class="month"><%= @saturday_date.strftime("%b") %></p>
          
          <% if is_today?(@saturday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        
        <th class="first-row col8">
          <p class="day"><%= @sunday_date.strftime("%a") %></p> <p class="date"><%= @sunday_date.day.ordinalize %></p><p class="month"><%= @sunday_date.strftime("%b") %></p>
          
          <% if is_today?(@sunday_date) %>
            <div class="today"></div>
          <% end %>
        </th>
        
        <th class="first-row col-last">
          <a href="<%= @next_week_url %>" class="arrows" title="Next week">)</a>
        </th>
      </tr>
    </thead>
    
    <tbody id="content">
      <%# Updated using js %>
    </tbody>
  </table>
</script>

<script type="text/template" id="team-member-template">
  <tr class="row-divider">
    <td colspan="9"><hr/></td>
  </tr>  <!--the divider-->
  <tr class="team-member {{ oddOrEvenClass }}" data-team-member-id="{{ userId }}">
    <td class="{{ rowClass }} col1" title="{{ userName }}">
      <a href="#edit-tm-{{ userId }}" class="team-member-name">
        {{ userName.substring(0, 40) }}
      </a>
      
      <div id="edit-tm-{{ userId }}" class="edit-team-member-dialog" title="Edit team member name">
        <form action="/{{ teamId }}/users/{{ userId }}" method="post">
          <fieldset class="update-object-fieldset" title="Edit team member">
            <legend>Edit team member</legend>
            <label for="name">Name</label>
            <input type="text" name="name" class="new-object-text-box" value="{{ userName }}"/>
            <button type="submit" class="submit-button">update</button>
          </fieldset> <!-- Edit team member -->
        </form>
        
        <form action="/{{ teamId }}/users/{{ userId }}/delete" method="post">
          <fieldset class="delete-object-fieldset" title="Delete user">
            <legend>Delete user</legend>
            <p class="warning-icon">W</p><p class="warning-msg">All timetable items associated with '{{ userName }}' will also be deleted.</p>
            <button type="submit" class="submit-button">delete</button>
          </fieldset> <!-- Edit team member -->
        </form>
      </div> <!-- .edit-team-member-dialog -->
    </td>
    
    <% prev_cols = 1 %>
    <% (MONDAY..SUNDAY).each do |work_day| %>
      <%#
        data-date: Used for update to know the date moving to, and the date when adding a project
        data-team-member-id: Used for adding a new project to know the team member to add to
      %>
      <% date = (@monday_date - 1.day) + work_day.day %>
      <td class="box {{ rowClass }} <%= "col#{work_day + prev_cols}" %>" data-date="<%= date %>" data-team-member-id="{{ userId }}">

        {% _.each(timetableItems, function(ti) { %}
          {% if (ti["date"] == "<%= date %>") { %}
            <div class="project" data-team-member-id="{{ userId }}" data-team-member-project-id="{{ ti['id'] }}" data-date="<%= date %>"> 
              <div class="handle-container"><div class="handle project-{{ ti['project_id'] }}"></div></div> <p class="project-title" title="{{ ti['project_name'] }}">{{ ti['project_name'].substring(0, 40) }}</p>
              <form class="delete-tm-project-form" action="/team-member/{{ userId }}/project/{{ ti['id'] }}/delete" method="post">
                <button name="delete_project" type="submit" value="true">×</button>
              </form>
            </div>
          {% } %} 
        {% }); %}

        <% if (work_day == THURSDAY) %>
          {% if (isFirst) { %}
            <div id="help-project-container">
              <div id="help-project"></div>
            </div>
          {% } %}
        <% end %>
      </td>
    <% end %>
    <td class="{{ rowClass }} col-last" %></td>
  </tr>
</script>

<script type="text/template" id="new-user-row-template">
  <tr id="new-user-row">
    <td colspan="9" class="last-row col1">
      <a id="add-user-button" href="#">Add user</a>
    </td>
  </tr>
</script>

<script type="text/template" id="add-user-dialog-template">
  <div id="add-user-dialog" title="Add user">
    <h4>Enter a Google mail account to add someone to your team.</h4>
    <form id="add-user-form" action="#" method="post">
      <fieldset>
        <legend>New user</legend>
        <ol>
          <li>
            <label for="name">Name</label>
            <input id="add-user-name" type="text" name="name"/>
          </li>
          <li>
            <label for="email">Email</label>
            <input id="add-user-email" type="text" name="email"/>
          </li>
          <li>
            <input id="new-user-visible" type="checkbox" name="visible" value="true" checked="checked" />
            <label for="new-user-visible">Appear on timetable</label>
          </li>
        </ol>
        <button type="submit" name="new_user" value="new_user" class="submit-button">Add user</button>
      </fieldset> <!-- Invite new user -->
    </form>
  </div> <!-- #add-users-dialog -->
</script>

<script type="text/template" id="project-listing-template">
  {% if (projects.length > 0) { %}
    {% _.each(projects, function(project, index) { %}
      {% var rowClass = "row" + (index + 1 + 1); %}
      {% var oddOrEvenClass = ((index % 2) === 0) ? "even" : "odd"; %}
      <tr class="row-divider">
        <td colspan="9"><hr/></td>
      </tr>  <!--the divider-->
      <tr class="project-row {{ oddOrEvenClass }}">
        <td class="{{ rowClass }} col1" title="{{ project.get("name") }}">
          <div class="project-title-container">
            <div class="handle {{ project.css_class() }}"></div>
            <p class="project-title" title="{{ project.get("name") }}">{{ project.get("name").substring(0, 40) }}</p>
          </div>
        </td>
        
        <% prev_cols = 1 %>
        <% (MONDAY..SUNDAY).each do |work_day| %>
          <% date = (@monday_date - 1.day) + work_day.day %>
          <td class="{{ rowClass }} <%= "col#{work_day + prev_cols}" %>" data-date="<%= date %>">

            {% _.each(userTimetables, function(userTimetable) { %}
              {% var ttItems = userTimetable.get("timetable_items"); %}
              {% _.each(ttItems, function(ttItem) { %}
                {% if ((ttItem["date"] == "<%= date %>") && (ttItem["project_id"] === project.get("id"))) { %}
                  <div class="team-member-name">{{ userTimetable.userName() }}</div>
                {% } %} 
              {% }); %}
            {% }); %}

          </td>
        <% end %>
        <td class="{{ rowClass }} col-last" %></td>
      </tr>
    {% }); %}
  {% } %}
</script>

<script type="text/template" id="errors-template">
  {% var errorKeys = _.keys(errors); %}
  {% if (errorKeys.length > 0) { %}
    <ul id="{{ id }}" class="errors">
      {% _.each(errorKeys, function(key) { %}
        <li>{{ errors[key] }}</li>
      {% }); %}
    </ul>
  {% } %}
</script>