<%# Javascript templates for backbone.js views %>

<script type="text/template" id="new-project-dialog-template">
  <div id="new-project-dialog">
    <a href="#" class="close">'</a>
    <form id="new-tm-project-form" action="/<%= @team.url_slug %>/team-member-project/add" method="post">
      <input type="hidden" name="date" value=""/>
      <input type="hidden" name="team_member_id" value=""/>
      
      <%# Dummy div to be replaced by js %>
      <div id="existing-projects-listing"></div>

      <fieldset>
        <legend>Add new project</legend>
        <fieldset class="new-object-fieldset" title="New project">
          <label for="project_name">Add new project</label>
          <input type="text" name="project_name" title="Project name" class="new-object-text-box" /> <button type="submit" name="new_project" value="true" class="submit-button">+</button>
        </fieldset> <!-- New project -->
      </fieldset>
    </form>
    
    <div id="dialog-arrow"></div>
  </div>
</script>

<script type="text/template" id="existing-projects-listing-template">
  {% if (projects.length <= 0) { %}
    <div id="existing-projects-listing"></div>
  {% } else { %}
    <fieldset id="existing-projects-listing" title="Existing projects">
      <legend>Add a project</legend>
      <ul class="listing">
        {% _.each(projects, function(project) { %}
          <li>
            <div class="handle {{ project.css_class() }}"></div>
            <button name="project_id" type="submit" value="{{ project.get("id") }}" title="{{ project.get("name") }}">{{ project.get("name").substring(0, 40) }}</button>
            <a class="delete" title="Delete project" href="#">×</a>
          </li>
        {% }); %}
      </ul>
    </fieldset> <!-- Existing projects -->
  {% } %}
</script>

<script type="text/template" id="project-template">
  <div class='project' data-team-member-id='{{ tmId }}' data-team-member-project-id='{{ tmProjId }}' data-date='{{ projDate }}'>
    <div class='handle-container'>
      <div class='{{ projHandleCssClass }}'></div>
    </div>
    <p class='project-title' title='{{ projName }}'>{{ projName.substring(0, 40) }}</p>
    <form class='delete-tm-project-form' action='/team-member/{{ tmId }}/project/{{ tmProjId }}/delete' method='post'>
      <button name='delete_project' type='submit' value='true'>×</button>
    </form>
  </div>
</script>


<script type="text/template" id="delete-project-dialog-template">
  <div id='delete-project-dialog' title='Delete &ldquo;{{ projectName }}&rdquo; project'>
    <p class='warning-icon'>W</p><p class='warning-msg'>All items added to the weekly timetable will also be deleted.</p>
    <form method='post' action='/{{ teamId }}/project/{{ projectId }}/delete'>
      <fieldset class='delete-object-fieldset' title='Delete project'>
      <button class='delete' value='delete' name='delete' type='submit'>delete</button>
      </fieldset>
    </form>
  </div>
</script>


<script type="text/template" id="week-template">
  <tr class="row-divider">
    <td colspan="9"><hr/></td>
  </tr>  <!--the divider-->
  <tr class="team-member {{ oddOrEvenClass }}" data-team-member-id="{{ tmId }}">
    <td class="{{ rowClass }} col1" title="{{ tmName }}">
      <a href="#edit-tm-{{ tmId }}" class="team-member-name">
        {{ tmName.substring(0, 40) }}
      </a>
      
      <div id="edit-tm-{{ tmId }}" class="edit-team-member-dialog" title="Edit team member name">
        <form action="/team-member/{{ tmId }}/edit" method="post">
          <fieldset class="update-object-fieldset" title="Edit team member">
            <legend>Edit team member</legend>
            <label for="name">Name</label>
            <input type="text" name="name" class="new-object-text-box" value="{{ tmName }}"/>
            <button type="submit" class="submit-button">update</button>
          </fieldset> <!-- Edit team member -->
        </form>
        
        <h4 class="add-new-user-title">Invite someone (note: needs to be a Google account)</h4>
        <%= erb :_invite_user_form %>
        
        <form action="/team-member/{{ tmId }}/delete" method="post">
          <fieldset class="delete-object-fieldset" title="Delete team member">
            <legend>Delete team member</legend>
            <p class="warning-icon">W</p><p class="warning-msg">All projects associated with '{{ tmName }}' will also be deleted.</p>
            <button type="submit" class="submit-button">delete</button>
          </fieldset> <!-- Edit team member -->
        </form>
      </div> <!-- .edit-team-member-dialog -->
    </td>
    
    <% prev_cols = 1 %>
    <% (MONDAY..SUNDAY).each do |work_day| %>
      <%#
        data-date: Used for update to know the date moving to, and the date when adding a project
        data-team-member-id: Used for adding a new project to know the team member to add to
      %>
      <% date = (@monday_date - 1.day) + work_day.day %>
      <td class="box {{ rowClass }} <%= "col#{work_day + prev_cols}" %>" data-date="<%= date %>" data-team-member-id="{{ tmId }}">

        {% var dayProjects = []; %}
        {% _.each(tmProjects, function(proj) { if (proj["date"] == "<%= date %>") { dayProjects.push(proj); } }) %}

        {% _.each(dayProjects, function(proj) { %}
          <div class="project" data-team-member-id="{{ tmId }}" data-team-member-project-id="{{ proj['id'] }}" data-date="<%= date %>"> 
            <div class="handle-container"><div class="handle project-{{ proj['project_id'] }}"></div></div> <p class="project-title" title="{{ proj['project_name'] }}">{{ proj['project_name'].substring(0, 40) }}</p>
            <form class="delete-tm-project-form" action="/team-member/{{ tmId }}/project/{{ proj['id'] }}/delete" method="post">
              <button name="delete_project" type="submit" value="true">×</button>
            </form>
          </div>
        {% }); %}
      </td>
    <% end %>
    <td class="{{ rowClass }} col-last" %></td>
  </tr>
</script>