<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Vistazo</title>
  
  <link rel="shortcut icon" href="/img/favicon.ico"/>
  
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <% if @projects.present? %>
    <style type="text/css">
      <% for project in @projects %>
        <%= ".#{project.css_class}" %> {
          background-color: <%= "#{project.hex_colour}" %>;
        }
        /* For tooltips */
        <%= "#tiptip_content.#{project.css_class}" %> {
          /*color: <%= "#{project.hex_colour}" %>;*/
          border: 3px solid <%= "#{project.hex_colour}" %>;
        }
      <% end %>
    </style>
  <% end %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/jquery.labelify.js" type="text/javascript"></script>
  <script src="/js/jquery.tipTip.minified.js" type="text/javascript"></script>
  <script src="/js/underscore-min.js" type="text/javascript"></script>
  <script src="/js/backbone-min.js" type="text/javascript"></script>
  <script type="text/javascript">
      /*
     * Preload images jQuery plugin
     * http://stackoverflow.com/questions/476679/preloading-images-with-jquery
     *
     */
    $.fn.preload = function() {
      this.each(function(){
        $('<img/>')[0].src = this;
      });
    }
    $(function () {
      // Preload AJAX spinner
      $(['/img/loading.gif']).preload();
    });
  </script>
  <% unless @is_error || @is_static %>
    <script src="/js/script.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        ///////////////////////////////////////////////////////////////
        // Set up backbone
        ///////////////////////////////////////////////////////////////
        App.flashView = new App.FlashView({el: "#main"});

        // Dialogs
        App.projectDialogView = new App.ProjectDialogView({el: "body"});
        App.teamDialogView = new App.TeamDialogView({el: "body"});
        App.addUserDialogView = new App.AddUserDialogView({el: "body"});
        App.editUserDialogView = new App.EditUserDialogView({el: "body"});

        App.teamProjects = new App.Projects;
        App.teamProjects.reset(<%= @projects.to_json %>);

        App.users = new App.Users;
        App.users.reset(<%= @users.to_json %>);

        App.userTimetables = new App.UserTimetables;
        App.userTimetables.reset(<%= @user_timetables.to_json if @user_timetables %>)

        App.timetableViewSelector = new App.TimetableViewSelector({el: $("#view-selector")})
      });
    </script>
  <% end %>
</head>
<%
  body_classes = []
  body_classes << 'first-signon' if @first_signon
  body_classes << 'is-error' if @is_error
  body_classes << 'is-static' if @is_static
%>
<body class='<%= body_classes.join(" ") %>'>
  <div id="overlay-bg"></div>
  <div id="help-nav"></div>
  <div id="help-team"></div>
  <div id="help-close"></div>
  <div id="top-nav">
    <h1 id="logo"><a href="/">VISTAZO</a></h1> <div class="top-spacer">
    </div> 
    <% if @team.present? %>
      <div id="team-name">
        <h2><%= h @team.name %></h2>
      </div>
    <% end %>

    <!-- <p class="top-symbols">U</p> 
    <div class="top-spacer right"></div> 
    <p class="top-symbols">S</p>
    <div class="top-spacer right"></div>
    <div class="top-spacer right"></div> -->
    <ul class="action-bar">
      <% if logged_in? %>
        <li><a class="help" title="Help" href="#">?</a></li>
        <li>&nbsp;<a class="logout" href="/logout" title="Log out">logout</a></li>
        <li class="logged-in-as"><%= h current_user.name %> /</li>
      <% end %>
    </ul>
    <!-- <p class="invite-user"><a href="#team-users">Invite people to view this team</a></p> -->
  </div>
  
  <%= styled_flash %>
  
  <% unless @is_error || @is_static %>
    <ul id="view-selector">
      <li id="week-view-selector"><a href="<%= team_id_current_week_link_url(@team.id) %>" title="View week listing">Week view</a></li>
      <li id="month-view-selector"><a href="<%= @month_link_url %>" title="View month listing">Month view</a></li>
      <li id="project-view-selector"><a href="<%= "#{team_id_current_week_link_url(@team.id)}#project-view" %>" title="View project listing">Project view</a></li>
    </ul>
  <% end %>

  <div id="main">
    <%= yield %>
  </div>
  <%= erb :team_name_dialog %>
  
  <footer>
    <ul>
      <li><span>Vistazo</span> <%= settings.version_string %></li>
      <li>Created by <a href="http://pebblecode.com/">pebble {code}</a></li>
      <!--<li><a href="#">get satisfaction / UX testing link</a></li>-->
    </ul>
    <ul class="legal">
      <li><a href="/terms">Terms of Service</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>
    <a class="press-kit" href="/press-kit/vistazo-press-kit.zip">Download the press kit</a>
  </footer>

  <% unless @is_error || @is_static %>
    <%= erb :_js_templates %>
  <% end %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28661003-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
