<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Vistazo</title>
  
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <% if @projects.present? %>
    <style type="text/css">
      <% for project in @projects %>
        <%= ".#{project.css_class}" %> {
          background-color: <%= "#{project.hex_colour}" %>;
        }
      <% end %>
    </style>
  <% end %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/jquery.labelify.js" type="text/javascript"></script>
  <script src="/js/script.js" type="text/javascript"></script>
  
  
</head>
<body class="homepage">
  <div id="top-nav">
    <h1>VISTAZO</h1>
  </div>
  
  <%= styled_flash %>
  
  <div id="main" class="reg-main">
    <div id="reg-name">
      <p>You have been invited to join <span><%= @team.name %></span> on Vistazo</p>
    </div>
    <hr />
    <div id="screenshot"></div>
    <div id="intro">
      <p id="vistazo-is">Vistazo is a simple, lightweight tool for small teams to see <span>who</span> is working on <span>what</span>, <span>when</span>.</p>
      <br />
      <br />
      <p id="to-start">To start, just sign in with your Google mail account <span><%= @user.email %></span>*, with the button below:</p>
      <a href="<%= @activation_link %>" id="start-btn">Start using Vistazo<span> </span>!</a>
      <p class="help">* If the email shown here is not a google account, then sorry! We don't currently support other forms of login. Please contact the person who invited you, and get them to re-invite you through a Google account.</p>
  </div>
  </div>
  <footer>
    <ul>
      <li><span>Vistazo Alpha</span> 0.5.0 release</li>
      <li>Created by <a href="http://pebblecode.com/">pebble {code}</a></li>
      <!--<li><a href="#">get satisfaction / UX testing link</a></li>--->
    </ul>
  </footer>
</body>


<!--
<div id="registration-page">
  <h1>Register for <%= @team.name %></h1>
  <p>Just sign in using your google account with this link: <a href="/auth/google_oauth2/">Sign in to google</a></p>
</div>
-->
