<% if @account %>
  <div id="account-users-dialog" title="User settings">
    <h4 class="add-new-user-title">Enter a Google mail account to invite someone to your Vistazo account.</h4>
    <form id="invite-user-form" action="/<%= @account.url_slug %>/new-user" method="post">
      <fieldset class="new-object-fieldset">
        <legend>Invite new user</legend>
        <label for="new_user_email">Invite new user</label>
        <input type="text" name="new_user_email" title="New user email" class="new-object-text-box" />
        <button type="submit" name="new_user" value="new_user" class="submit-button">+</button>
      </fieldset> <!-- Invite new user -->
    </form>
  
    <h4 class="current-users-title">Current users</h4>
    <% if @active_users %>
      <ul class="listing active">
        <% for user in @active_users %>
          <li><div class="list-bullet"></div><%= h user.name %> &lt;<span class="email"><%= h user.email %></span>&gt;</li>
        <% end %>
      </ul>
    <% end %>
    
    <% if @pending_users.present? %>
    <h4 class="pending-users-title">Users awaiting registration</h4>
    <ul class="listing pending">
      <% for user in @pending_users %>
        <li><div class="list-bullet"></div><p class="pending-user-email"><%= h user.email %></p><a class="resend" href="/<%= @account.url_slug %>/new-user/<%= user.id %>/resend">resend</a></li>
      <% end %>
    </ul>
    <% end %>
  </div> <!-- #account-users-dialog -->
<% end %>
