<table id="week-view">
  <thead>
    <tr>
      <th class="first-row col1"> 
        <% if @prev_week_url.present? %>
          <div id="help-week"></div><a href="<%= @prev_week_url %>" class="arrows" title="Previous week">(</a>
        <% end %>
      </th>
    
      <th class="first-row col2">
        <p class="day"><%= @monday_date.strftime("%a") %></p> <p class="date"><%= @monday_date.day.ordinalize %></p><p class="month"><%= @monday_date.strftime("%b") %></p>
      </th>
      <th class="first-row col3">
        <p class="day"><%= @tuesday_date.strftime("%a") %></p> <p class="date"><%= @tuesday_date.day.ordinalize %></p><p class="month"><%= @tuesday_date.strftime("%b") %></p>
      </th>
      <th class="first-row col4">
        <p class="day"><%= @wednesday_date.strftime("%a") %></p> <p class="date"><%= @wednesday_date.day.ordinalize %></p><p class="month"><%= @wednesday_date.strftime("%b") %></p>
      </th>
      <th class="first-row col5">
        <p class="day"><%= @thursday_date.strftime("%a") %></p> <p class="date"><%= @thursday_date.day.ordinalize %></p><p class="month"><%= @thursday_date.strftime("%b") %></p>
      </th>
      <th class="first-row col6">
        <p class="day"><%= @friday_date.strftime("%a") %></p> <p class="date"><%= @friday_date.day.ordinalize %></p><p class="month"><%= @friday_date.strftime("%b") %></p>
      </th>
    
      <th class="first-row col7">
        <a href="<%= @next_week_url %>" class="arrows" title="Next week">)</a>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <% @team_members.each_with_index do |tm, tm_index| %>
      <% prev_rows = 1 %>
      <% row_num = (tm_index + 1) + prev_rows %>
      <% row_class = "row#{row_num}" %>
      <%#
        data-team-member-id: Used for update to know the team member moving to
      %>
      <tr class="team-member <%= row_num.odd? ? "odd" : "even" %>" data-team-member-id="<%= tm.id %>">
        <td class="<%= row_class %> col1" title="<%= h tm.name %>">
          <a href="#edit-tm-<%= tm.id %>" class="team-member-name">
            <%= h truncate(tm.name, :length => 12) %>
          </a>
          
          <div id="edit-tm-<%= tm.id %>" class="edit-team-member-dialog" title="Edit team member name">
            <form action="/team-member/<%= tm.id %>/edit" method="post">
              <fieldset class="update-object-fieldset" title="Edit team member">
                <legend>Edit team member</legend>
                <label for="name">Name</label>
                <input type="text" name="name" class="new-object-text-box" value="<%= tm.name %>"/>
                <button type="submit" class="submit-button">update</button>
              </fieldset> <!-- Edit team member -->
            </form>
            
            <form action="/team-member/<%= tm.id %>/delete" method="post">
              <fieldset class="delete-object-fieldset" title="Delete team member">
                <legend>Delete team member</legend>
                <p class="warning-icon">W</p><p class="warning">All projects associated with '<%= tm.name %>' will also be deleted.</p>
                <button type="submit" class="submit-button">delete</button>
              </fieldset> <!-- Edit team member -->
            </form>
          </div> <!-- .edit-team-member-dialog -->
        </td>
        
        <% prev_cols = 1 %>
        <% (MONDAY..FRIDAY).each do |work_day| %>
          <%#
            data-date: Used for update to know the date moving to, and the date when adding a project
            data-team-member-id: Used for adding a new project to know the team member to add to
          %>
          <td class="box <%= "#{row_class} col#{work_day + prev_cols}" %>" data-date="<%= (@monday_date - 1.day) + work_day.day %>" data-team-member-id="<%= tm.id %>">
            <% tm_projects = @team_member_projects_on_day[tm][work_day] %>
            <% for tm_project in tm_projects %>
              <%#
                data-team-member-id: Used for update to know the team member moving from
                data-team-member-project-id: Used for update to know the team member project
                data-date: Used for update to know the date of the team member project
              %>
              <div class="project" data-team-member-id="<%= tm.id %>" data-team-member-project-id="<%= tm_project.id %>" data-date="<%= tm_project.date %>"> 
                <div class="handle-container"><div class="handle <%= tm_project.css_class %>"></div></div> <p class="project-title" title="<%= h tm_project.project_name %>"><%= h truncate(tm_project.project_name, :length => 12) %></p>
                <form class="delete-tm-project-form" action="/team-member/<%= tm.id %>/project/<%= tm_project.id %>/delete" method="post">
                  <button name="delete_project" type="submit" value="true">×</button>
                </form>
              </div>
            <% end %>
            <% if (work_day == THURSDAY) and (tm_index == 0) %>
              <div id="help-project-container">
                <div id="help-project"></div>
              </div>
            <% end %>
          </td>
        <% end %>
        <td class="<%= "#{row_class} col7" %>"></td>
      </tr>
      <% unless tm == @team_members.last %>
        <tr class="row-divider">
          <td colspan="7"><hr/></td>
        </tr>  <!--the divider-->
      <% end %>
    <% end %>
  </tbody>
  
  <tr>
    <td colspan="7" class="last-row col1">
      <form id="new-team-member-form" action="/<%= @team.url_slug %>/team-member/add" method="post">
        <fieldset class="new-object-fieldset" title="New team member">
          <legend>New team member</legend>
          <label for="new_team_member_name">Add new</label>
          <input type="text" name="new_team_member_name" title="Add member" class="new-object-text-box" /> 
          <button type="submit" name="new_team_member" value="new_team_member" class="submit-button">+</button>
          <div id="help-new"></div>
        </fieldset> <!-- New team member -->
      </form>
    </td>
  </tr>
</table>

<div id="new-project-dialog">
  <a href="#" class="close">'</a>
  <form id="new-tm-project-form" action="/<%= @team.url_slug %>/team-member-project/add" method="post">
    <input type="hidden" name="date" value=""/>
    <input type="hidden" name="team_member_id" value=""/>
    
    <% if @projects.present? %>
      <fieldset id="existing-projects-listing" title="Existing projects">
        <legend>Add a project</legend>
        <ul class="listing">
          <% for project in @projects %>
            <li>
              <div class="handle <%= project.css_class %>"></div>
              <button name="project_id" type="submit" value="<%= project.id %>" title="<%= h project.name %>"><%= h truncate(project.name, :length => 22) %></button>
            </li>
          <% end %>
        </ul>
      </fieldset> <!-- Existing projects -->
    <% end %>
    
    <fieldset>
      <legend>Add new project</legend>
      <fieldset class="new-object-fieldset" title="New project">
        <label for="new_project_name">Add new project</label>
        <input type="text"name="new_project_name" title="Project name" class="new-object-text-box" /> <button type="submit" name="new_project" value="true" class="submit-button">+</button>
      </fieldset> <!-- New project -->
    </fieldset>
  </form>
  
  <img src="/img/point.png" id="dialog-arrow"/>
</div>
