<ul id="modify-data">
  <li><a href="/create">Create data</a></li>
  <li><a href="/delete_all">Delete all</a></li>
</ul>

<div class="line line1"></div><div class="line line2"></div><div class="line line3"></div><div class="line line4"></div><div class="line line5"></div><div class="line line6"></div>

<table>
  <tr>
    <th class="row1 col1"> 
      <% if @prev_week_url.present? %>
        <a href="<%= @prev_week_url %>" class="arrows">(</a>
      <% end %>
    </th>
    <th class="row1 col2"> <p class="day">MON</p> <p class="date">14th</p> <p class="month">NOV</p> </th>
    <th class="row1 col3"> <p class="day">TUE</p> <p class="date">15th</p> <p class="month">NOV</p> </th>
    <th class="row1 col4"> <p class="day">WED</p> <p class="date">16th</p> <p class="month">NOV</p> </th>
    <th class="row1 col5"> <p class="day">THU</p> <p class="date">17th</p> <p class="month">NOV</p> </th>
    <th class="row1 col6"> <p class="day">FRI</p> <p class="date">18th</p> <p class="month">NOV</p> </th>
    <th class="row1 col7"> <a href="<%= @next_week_url %>" class="arrows">)</a></th>
  </tr>
  
  
  <% @team_members.each_with_index do |tm, tm_index| %>
    <% prev_rows = 1 %>
    <% row_class = "row#{(tm_index + 1) + prev_rows}" %>
    <tr>
      <td class="<%= row_class %> col1"> <div class="person"><hr / class="highlight"><%= tm.name %></div></td>

      <% prev_cols = 1 %>
      <% (MONDAY..FRIDAY).each do |work_day| %>
        <td class="<%= "#{row_class} col#{work_day + prev_cols}" %>">
          <% projects = @team_member_projects_on_day[tm][work_day] %>
          <% for project in projects %>
            <div class="project"> <div class="circle <%= project.css_class %>"></div> <p class="project-title"><%= project.project_name %></p></div>
          <% end %>
          <div class="new-project">+</div>
        </td>
      <% end %>
    
    <% unless tm == @team_members.last %>
      <tr>
        <td><hr / class="row-divider"></td>
        <td><hr / class="row-divider"></td>
        <td><hr / class="row-divider"></td>
        <td><hr / class="row-divider"></td>
        <td><hr / class="row-divider"></td>
        <td><hr / class="row-divider"></td>
        <td><hr / class="row-divider"></td>
      </tr>  <!--the divider-->
    <% end %>
  <% end %>
  
  
  <tr>
    <td class="row7 col1"> <div id="new-person">Add new person <div id="plus">+</div></div></td>
    <td class="row7 col2"></td>
    <td class="row7 col3"></td>
    <td class="row7 col4"></td>
    <td class="row7 col5"></td>
    <td class="row7 col6"></td>
    <td class="row7 col7"></td>
  </tr>
</table>

<div id="d-test"><div class="highlight"></div> <p id="d-title">Add a new project </p>
  <div class="d-project"> <div class="circle ideapi"></div> <p class="project-title">ideapi</p></div> 
  <div class="d-project"> <div class="circle LDN"></div> <p class="project-title">LDN taxi</p></div>
  <div class="d-project"> <div class="circle vistazo"></div> <p class="project-title">Vistazo</p></div> 
  <div class="d-project"> <div class="circle space"></div> <p class="project-title">Space</p></div>
  <div class="d-project d-new"> <p class="d-new-type">Add new project</p> <p id="d-plus">+</p></div>
  <img src="img/point.png" id="point"/>
</div>